/****** Object:  Table [dbo].[CommandDetails]    Script Date: 10/07/2019 19:03:07 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommandDetails_Commands]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommandDetails]'))
ALTER TABLE [dbo].[CommandDetails] DROP CONSTRAINT [FK_CommandDetails_Commands]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommandDetails_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommandDetails]'))
ALTER TABLE [dbo].[CommandDetails] DROP CONSTRAINT [FK_CommandDetails_Products]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommandDetails_Products1]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommandDetails]'))
ALTER TABLE [dbo].[CommandDetails] DROP CONSTRAINT [FK_CommandDetails_Products1]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommandDetails_Commands]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommandDetails]'))
ALTER TABLE [dbo].[CommandDetails] DROP CONSTRAINT [FK_CommandDetails_Commands]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommandDetails_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommandDetails]'))
ALTER TABLE [dbo].[CommandDetails] DROP CONSTRAINT [FK_CommandDetails_Products]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommandDetails_Products1]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommandDetails]'))
ALTER TABLE [dbo].[CommandDetails] DROP CONSTRAINT [FK_CommandDetails_Products1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CommandDetails]') AND type in (N'U'))
DROP TABLE [dbo].[CommandDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CommandDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CommandDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommandId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CombinedProductId] [int] NULL,
 CONSTRAINT [PK_CommandDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommandDetails_Commands]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommandDetails]'))
ALTER TABLE [dbo].[CommandDetails]  WITH CHECK ADD  CONSTRAINT [FK_CommandDetails_Commands] FOREIGN KEY([CommandId])
REFERENCES [dbo].[Commands] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommandDetails_Commands]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommandDetails]'))
ALTER TABLE [dbo].[CommandDetails] CHECK CONSTRAINT [FK_CommandDetails_Commands]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommandDetails_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommandDetails]'))
ALTER TABLE [dbo].[CommandDetails]  WITH CHECK ADD  CONSTRAINT [FK_CommandDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommandDetails_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommandDetails]'))
ALTER TABLE [dbo].[CommandDetails] CHECK CONSTRAINT [FK_CommandDetails_Products]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommandDetails_Products1]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommandDetails]'))
ALTER TABLE [dbo].[CommandDetails]  WITH CHECK ADD  CONSTRAINT [FK_CommandDetails_Products1] FOREIGN KEY([CombinedProductId])
REFERENCES [dbo].[Products] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CommandDetails_Products1]') AND parent_object_id = OBJECT_ID(N'[dbo].[CommandDetails]'))
ALTER TABLE [dbo].[CommandDetails] CHECK CONSTRAINT [FK_CommandDetails_Products1]
GO
SET IDENTITY_INSERT [dbo].[CommandDetails] ON
INSERT [dbo].[CommandDetails] ([Id], [CommandId], [ProductId], [Quantity], [CombinedProductId]) VALUES (108, 62, 4, 1, NULL)
INSERT [dbo].[CommandDetails] ([Id], [CommandId], [ProductId], [Quantity], [CombinedProductId]) VALUES (109, 62, 5, 1, NULL)
INSERT [dbo].[CommandDetails] ([Id], [CommandId], [ProductId], [Quantity], [CombinedProductId]) VALUES (110, 63, 44, 1, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[CommandDetails] OFF
