/****** Object:  Table [dbo].[Commands]    Script Date: 10/10/2019 19:13:16 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Commands_BarTables]') AND parent_object_id = OBJECT_ID(N'[dbo].[Commands]'))
ALTER TABLE [dbo].[Commands] DROP CONSTRAINT [FK_Commands_BarTables]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Commands_Employees]') AND parent_object_id = OBJECT_ID(N'[dbo].[Commands]'))
ALTER TABLE [dbo].[Commands] DROP CONSTRAINT [FK_Commands_Employees]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Commands_Stations]') AND parent_object_id = OBJECT_ID(N'[dbo].[Commands]'))
ALTER TABLE [dbo].[Commands] DROP CONSTRAINT [FK_Commands_Stations]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Commands_BarTables]') AND parent_object_id = OBJECT_ID(N'[dbo].[Commands]'))
ALTER TABLE [dbo].[Commands] DROP CONSTRAINT [FK_Commands_BarTables]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Commands_Employees]') AND parent_object_id = OBJECT_ID(N'[dbo].[Commands]'))
ALTER TABLE [dbo].[Commands] DROP CONSTRAINT [FK_Commands_Employees]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Commands_Stations]') AND parent_object_id = OBJECT_ID(N'[dbo].[Commands]'))
ALTER TABLE [dbo].[Commands] DROP CONSTRAINT [FK_Commands_Stations]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Commands]') AND type in (N'U'))
DROP TABLE [dbo].[Commands]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Commands]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Commands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[BarTableId] [int] NOT NULL,
	[StationId] [int] NULL,
	[Date] [datetime] NOT NULL,
	[Status] [tinyint] NOT NULL,
 CONSTRAINT [PK_Commands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Commands_BarTables]') AND parent_object_id = OBJECT_ID(N'[dbo].[Commands]'))
ALTER TABLE [dbo].[Commands]  WITH CHECK ADD  CONSTRAINT [FK_Commands_BarTables] FOREIGN KEY([BarTableId])
REFERENCES [dbo].[BarTables] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Commands_BarTables]') AND parent_object_id = OBJECT_ID(N'[dbo].[Commands]'))
ALTER TABLE [dbo].[Commands] CHECK CONSTRAINT [FK_Commands_BarTables]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Commands_Employees]') AND parent_object_id = OBJECT_ID(N'[dbo].[Commands]'))
ALTER TABLE [dbo].[Commands]  WITH CHECK ADD  CONSTRAINT [FK_Commands_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Commands_Employees]') AND parent_object_id = OBJECT_ID(N'[dbo].[Commands]'))
ALTER TABLE [dbo].[Commands] CHECK CONSTRAINT [FK_Commands_Employees]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Commands_Stations]') AND parent_object_id = OBJECT_ID(N'[dbo].[Commands]'))
ALTER TABLE [dbo].[Commands]  WITH CHECK ADD  CONSTRAINT [FK_Commands_Stations] FOREIGN KEY([StationId])
REFERENCES [dbo].[Stations] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Commands_Stations]') AND parent_object_id = OBJECT_ID(N'[dbo].[Commands]'))
ALTER TABLE [dbo].[Commands] CHECK CONSTRAINT [FK_Commands_Stations]
GO
SET IDENTITY_INSERT [dbo].[Commands] ON
INSERT [dbo].[Commands] ([Id], [EmployeeId], [BarTableId], [StationId], [Date], [Status]) VALUES (1, 1, 3, 1, CAST(0x0000AADF01329780 AS DateTime), 2)
INSERT [dbo].[Commands] ([Id], [EmployeeId], [BarTableId], [StationId], [Date], [Status]) VALUES (2, 1, 3, 1, CAST(0x0000AAE001506468 AS DateTime), 2)
INSERT [dbo].[Commands] ([Id], [EmployeeId], [BarTableId], [StationId], [Date], [Status]) VALUES (3, 1, 2, NULL, CAST(0x0000AAE1014492A0 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Commands] OFF
