/****** Object:  Table [dbo].[JokeSaleDetails]    Script Date: 10/10/2019 19:13:16 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSaleDetails_JokeSales]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSaleDetails]'))
ALTER TABLE [dbo].[JokeSaleDetails] DROP CONSTRAINT [FK_JokeSaleDetails_JokeSales]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSaleDetails_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSaleDetails]'))
ALTER TABLE [dbo].[JokeSaleDetails] DROP CONSTRAINT [FK_JokeSaleDetails_Products]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSaleDetails_JokeSales]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSaleDetails]'))
ALTER TABLE [dbo].[JokeSaleDetails] DROP CONSTRAINT [FK_JokeSaleDetails_JokeSales]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSaleDetails_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSaleDetails]'))
ALTER TABLE [dbo].[JokeSaleDetails] DROP CONSTRAINT [FK_JokeSaleDetails_Products]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JokeSaleDetails]') AND type in (N'U'))
DROP TABLE [dbo].[JokeSaleDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JokeSaleDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[JokeSaleDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[IsBottle] [bit] NULL,
	[SubTotal] [money] NULL,
	[TaxPercentaje] [float] NULL,
	[Tax] [money] NULL,
	[Total] [money] NULL,
 CONSTRAINT [PK_JokeSaleDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSaleDetails_JokeSales]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSaleDetails]'))
ALTER TABLE [dbo].[JokeSaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_JokeSaleDetails_JokeSales] FOREIGN KEY([SaleId])
REFERENCES [dbo].[JokeSales] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSaleDetails_JokeSales]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSaleDetails]'))
ALTER TABLE [dbo].[JokeSaleDetails] CHECK CONSTRAINT [FK_JokeSaleDetails_JokeSales]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSaleDetails_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSaleDetails]'))
ALTER TABLE [dbo].[JokeSaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_JokeSaleDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSaleDetails_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSaleDetails]'))
ALTER TABLE [dbo].[JokeSaleDetails] CHECK CONSTRAINT [FK_JokeSaleDetails_Products]
GO
SET IDENTITY_INSERT [dbo].[JokeSaleDetails] ON
INSERT [dbo].[JokeSaleDetails] ([Id], [SaleId], [ProductId], [Quantity], [Price], [IsBottle], [SubTotal], [TaxPercentaje], [Tax], [Total]) VALUES (5, 2, 65, 1, 0.0000, 0, 0.0000, 10, 0.0000, 0.0000)
INSERT [dbo].[JokeSaleDetails] ([Id], [SaleId], [ProductId], [Quantity], [Price], [IsBottle], [SubTotal], [TaxPercentaje], [Tax], [Total]) VALUES (6, 2, 26, 1, 4.0000, 0, 3.6400, 10, 0.3600, 4.0000)
INSERT [dbo].[JokeSaleDetails] ([Id], [SaleId], [ProductId], [Quantity], [Price], [IsBottle], [SubTotal], [TaxPercentaje], [Tax], [Total]) VALUES (7, 3, 65, 1, 0.0000, 0, 0.0000, 10, 0.0000, 0.0000)
SET IDENTITY_INSERT [dbo].[JokeSaleDetails] OFF
