/****** Object:  Table [dbo].[AppGeneralConfig]    Script Date: 10/10/2019 19:13:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppGeneralConfig]') AND type in (N'U'))
DROP TABLE [dbo].[AppGeneralConfig]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppGeneralConfig]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AppGeneralConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminPassword] [varchar](50) NULL,
	[ProductButtonsDimensions] [int] NULL,
	[EmployeeButtonsDimensions] [int] NULL,
	[TableButtonsDimensions] [int] NULL,
	[BackgroundImage] [varchar](100) NULL,
	[SystemJoke] [bit] NULL,
	[JokeInit] [tinyint] NULL,
	[JokeEnd] [tinyint] NULL,
	[JokeInterval] [int] NULL,
	[ShowJokeReport] [bit] NULL,
 CONSTRAINT [PK_AppGeneralConfig] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AppGeneralConfig] ON
INSERT [dbo].[AppGeneralConfig] ([Id], [AdminPassword], [ProductButtonsDimensions], [EmployeeButtonsDimensions], [TableButtonsDimensions], [BackgroundImage], [SystemJoke], [JokeInit], [JokeEnd], [JokeInterval], [ShowJokeReport]) VALUES (1, N'moli2019', 70, 80, 70, N'', 0, 14, 22, 2, 0)
SET IDENTITY_INSERT [dbo].[AppGeneralConfig] OFF
