/****** Object:  Table [dbo].[TaxTypes]    Script Date: 10/10/2019 19:13:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaxTypes]') AND type in (N'U'))
DROP TABLE [dbo].[TaxTypes]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaxTypes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TaxTypes](
	[Percentaje] [float] NOT NULL,
 CONSTRAINT [PK_TaxTypes] PRIMARY KEY CLUSTERED 
(
	[Percentaje] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[TaxTypes] ([Percentaje]) VALUES (10)
INSERT [dbo].[TaxTypes] ([Percentaje]) VALUES (16)
INSERT [dbo].[TaxTypes] ([Percentaje]) VALUES (21)
