/****** Object:  Table [dbo].[BarTables]    Script Date: 10/07/2019 19:03:07 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BarTables]') AND type in (N'U'))
DROP TABLE [dbo].[BarTables]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BarTables]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BarTables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ImagePath] [varchar](200) NULL,
	[Location] [varchar](10) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_BarTables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BarTables] ON
INSERT [dbo].[BarTables] ([Id], [Code], [Name], [ImagePath], [Location], [Active]) VALUES (9, 1, N'Mesa 1', NULL, N'266,104', 1)
INSERT [dbo].[BarTables] ([Id], [Code], [Name], [ImagePath], [Location], [Active]) VALUES (12, 4, N'Mesa 4', NULL, N'520,162', 1)
INSERT [dbo].[BarTables] ([Id], [Code], [Name], [ImagePath], [Location], [Active]) VALUES (14, 6, N'Mesa 6', NULL, N'419,279', 1)
SET IDENTITY_INSERT [dbo].[BarTables] OFF
