/****** Object:  Table [dbo].[JokeSales]    Script Date: 10/07/2019 19:03:08 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSales_BarTables]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSales]'))
ALTER TABLE [dbo].[JokeSales] DROP CONSTRAINT [FK_JokeSales_BarTables]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSales_Employees]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSales]'))
ALTER TABLE [dbo].[JokeSales] DROP CONSTRAINT [FK_JokeSales_Employees]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSales_Stations]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSales]'))
ALTER TABLE [dbo].[JokeSales] DROP CONSTRAINT [FK_JokeSales_Stations]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSales_BarTables]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSales]'))
ALTER TABLE [dbo].[JokeSales] DROP CONSTRAINT [FK_JokeSales_BarTables]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSales_Employees]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSales]'))
ALTER TABLE [dbo].[JokeSales] DROP CONSTRAINT [FK_JokeSales_Employees]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSales_Stations]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSales]'))
ALTER TABLE [dbo].[JokeSales] DROP CONSTRAINT [FK_JokeSales_Stations]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JokeSales]') AND type in (N'U'))
DROP TABLE [dbo].[JokeSales]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JokeSales]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[JokeSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StationId] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[Date] [datetime] NOT NULL,
	[Total] [money] NOT NULL,
	[Disscount] [money] NOT NULL,
	[Tax] [money] NULL,
	[PayType] [int] NULL,
	[BarTableId] [int] NULL,
	[Paid] [bit] NULL,
	[Ticket] [bit] NULL,
 CONSTRAINT [PK_JokeSales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSales_BarTables]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSales]'))
ALTER TABLE [dbo].[JokeSales]  WITH CHECK ADD  CONSTRAINT [FK_JokeSales_BarTables] FOREIGN KEY([BarTableId])
REFERENCES [dbo].[BarTables] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSales_BarTables]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSales]'))
ALTER TABLE [dbo].[JokeSales] CHECK CONSTRAINT [FK_JokeSales_BarTables]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSales_Employees]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSales]'))
ALTER TABLE [dbo].[JokeSales]  WITH CHECK ADD  CONSTRAINT [FK_JokeSales_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSales_Employees]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSales]'))
ALTER TABLE [dbo].[JokeSales] CHECK CONSTRAINT [FK_JokeSales_Employees]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSales_Stations]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSales]'))
ALTER TABLE [dbo].[JokeSales]  WITH CHECK ADD  CONSTRAINT [FK_JokeSales_Stations] FOREIGN KEY([StationId])
REFERENCES [dbo].[Stations] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_JokeSales_Stations]') AND parent_object_id = OBJECT_ID(N'[dbo].[JokeSales]'))
ALTER TABLE [dbo].[JokeSales] CHECK CONSTRAINT [FK_JokeSales_Stations]
GO
