/****** Object:  Table [dbo].[SaleDetails]    Script Date: 09/19/2019 22:43:15 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaleDetails_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaleDetails]'))
ALTER TABLE [dbo].[SaleDetails] DROP CONSTRAINT [FK_SaleDetails_Products]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaleDetails_Sales]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaleDetails]'))
ALTER TABLE [dbo].[SaleDetails] DROP CONSTRAINT [FK_SaleDetails_Sales]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaleDetails_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaleDetails]'))
ALTER TABLE [dbo].[SaleDetails] DROP CONSTRAINT [FK_SaleDetails_Products]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaleDetails_Sales]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaleDetails]'))
ALTER TABLE [dbo].[SaleDetails] DROP CONSTRAINT [FK_SaleDetails_Sales]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SaleDetails]') AND type in (N'U'))
DROP TABLE [dbo].[SaleDetails]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SaleDetails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SaleDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[IsBottle] [bit] NULL,
	[SubTotal] [money] NULL,
	[TaxPercentaje] [float] NULL,
	[Tax] [money] NULL,
	[Total] [money] NULL,
 CONSTRAINT [PK_SaleDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaleDetails_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaleDetails]'))
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaleDetails_Products]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaleDetails]'))
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Products]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaleDetails_Sales]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaleDetails]'))
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Sales] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SaleDetails_Sales]') AND parent_object_id = OBJECT_ID(N'[dbo].[SaleDetails]'))
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Sales]
GO
SET IDENTITY_INSERT [dbo].[SaleDetails] ON
INSERT [dbo].[SaleDetails] ([Id], [SaleId], [ProductId], [Quantity], [Price], [IsBottle], [SubTotal], [TaxPercentaje], [Tax], [Total]) VALUES (16223, 10520, 32, 1, 4.5000, 0, 4.0900, 10, 0.4100, 4.5000)
INSERT [dbo].[SaleDetails] ([Id], [SaleId], [ProductId], [Quantity], [Price], [IsBottle], [SubTotal], [TaxPercentaje], [Tax], [Total]) VALUES (16224, 10520, 15, 1, 4.5000, 0, 4.0900, 10, 0.4100, 4.5000)
INSERT [dbo].[SaleDetails] ([Id], [SaleId], [ProductId], [Quantity], [Price], [IsBottle], [SubTotal], [TaxPercentaje], [Tax], [Total]) VALUES (16225, 10520, 14, 1, 4.5000, 0, 4.0900, 10, 0.4100, 4.5000)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[SaleDetails] OFF
